.cardBody {
	padding: 0;
	margin: 3px;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 2em;
}
.btn {
	height: 100%;
	width: 100%;
	background-color: white !important;
	color: black !important;
	padding: 0;
}
.character {
	font-size: 2.5em;
}