.cardBody {
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.cardActions {
	display: flex;
	justify-content: center; 
}
.characterStyle {
	font-size: 10em;
}
.navBtn {
	margin: 0 10px !important;
}